noderedrandomizer
[{"id":"cf481081ff7edfb6","type":"subflow","name":"19farts","info":"","category":"NodeScripts","in":[{"x":80,"y":420,"wires":[{"id":"2025704d145c6943"}]}],"out":[],"env":[],"meta":{},"color":"#D8BFD8"},{"id":"2a00aa443022a3d4","type":"random","z":"cf481081ff7edfb6","name":"","low":1,"high":"19","inte":"true","property":"rando","x":380,"y":420,"wires":[["ee2a7952f3e401d4"]]},{"id":"41a1a0f18fd75657","type":"api-call-service","z":"cf481081ff7edfb6","name":"BadHass","server":"","version":5,"debugenabled":false,"domain":"{{payload.domain}}","service":"{{payload.service}}","areaId":[],"deviceId":[],"entityId":["{{payload.entityid}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":740,"y":420,"wires":[[]]},{"id":"ee2a7952f3e401d4","type":"function","z":"cf481081ff7edfb6","name":"data","func":"newmsg={}\nnewmsg.payload={\n    domain:msg.domain,\n    service:msg.service,\n    entityid:msg.entityid,\n    data:{\n        \"media_content_id\":\"http://192.168.3.4:8123/local/sounds/fart/\"+msg.rando+\".mp3\",\n        \"media_content_type\":\"music\"\n    }}\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":420,"wires":[["41a1a0f18fd75657"]]},{"id":"2025704d145c6943","type":"change","z":"cf481081ff7edfb6","name":"fart","rules":[{"t":"set","p":"domain","pt":"msg","to":"media_player","tot":"str"},{"t":"set","p":"service","pt":"msg","to":"play_media","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":420,"wires":[["2a00aa443022a3d4"]]},{"id":"45f78d2851d1b13f","type":"change","z":"6455b5c5.b7ccbc","name":"kitchen","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"entityid","pt":"msg","to":"media_player.kitchen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":240,"wires":[["b91904d65a7bda38"]]},{"id":"b91904d65a7bda38","type":"subflow:cf481081ff7edfb6","z":"6455b5c5.b7ccbc","name":"","x":1190,"y":240,"wires":[]}]
